<div class="chat-window">
    <div class="chat-buttons">
        <div class="message-box">
            <input type="text" id="message-input">
            <button id="message-submit">Send</button>
        </div>
        <div class="file-box">
            <div class="d-f">
                <input type="file" name="" id="file-input" multiple>
                <button id="file-submit"><i class="fa fa-arrow-circle-up"></i></button>
            </div> 
            <div id="file-list" class="hide"></div>
        </div>
       
    </div>
</div>
<script type="text/javascript" src="js/fileUpload.js"></script>

