<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
</head>
<body>
    <h1>Welcome to the portal</h1>
    <% if(Content === "Register"){ %>
        <%- include('partials/userManagement/register') %>
    <% }else if(Content === "Login"){ %>
        <%- include('partials/userManagement/login') %>
    <% } %>
</body>
</html>