<link type="text/css" rel="stylesheet" href="css/userManagement.css">
<div class="register-container">
    <h4>Login</h4>
    <div class="register-input-box">
        <label for="accountName">Username</label>
        <input type="text" name="accountName" id="nameInput" placeholder="Username">
    </div>
    <div class="register-input-box">
        <label for="accountPassword">Password</label>
        <input type="password" name="accountPassword" id="passwordInput" placeholder="Password">
    </div>
    <button id="login">Login</button>
</div>